.nav-area{
    float: right;
    list-style: none;
    margin-top: 40px;
    margin-right: -70px;
   
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: #333;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
}
.nav-area li a:hover{
    background: #f88a3c;
    color: #fff; 
}

.logo img{
    width: 150px;
    float: left;
}
